<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="icon" href="data:," />

  <link href="bootstrap.min.css" rel="stylesheet" />

  <title>Demo Chat</title>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Demo Chat</a>
    </div>
  </nav>
  
  <div class="container">
    <!-- Блок 1. Авторизация по никнейму -->
    <div class="mb-3 mt-4">
      <div class="input-group">
        <span class="input-group-text" id="aria-from-email">
          <svg 
            xmlns="http://w3.org" 
            width="16" 
            height="16" 
            fill="currentColor" 
            class="bi bi-circle-fill btn-outline-default" 
            viewBox="0 0 16 16"
            id="connect-icon"
          >
            <circle cx="8" cy="8" r="8"></circle>
          </svg>
        </span>
        <input class="form-control" id="from-email" rows="3" placeholder="1. Enter Your Email or Nickname and press Enter" aria-describedby="aria-from-email">
      </div>
    </div>

    <!-- Блок 2. Контейнер для вывода сообщений -->
    <div class="mb-3 mt-3">
      <ul style="list-style: none; padding-left: 0;" id="data-container"></ul>
    </div>

    <!-- Блок 3. Поле ввода получателя (Заблокировано по умолчанию) -->
    <div class="mb-3 mt-4">
      <input class="form-control" id="to-email" rows="3" placeholder="2. Send to Email or Nickname" disabled />
    </div>

    <!-- Блок 4. Поле ввода текста сообщения (Заблокировано по умолчанию) -->
    <div class="mb-3 mt-4">
      <input class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="3. Say something..." disabled />
    </div>
  </div>

  <script src="socket.io.min.js"></script>

  <script src="app.js"></script>
</body>

</html>
